
@model AlbumCollection.Models.Song

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Album Details</title>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/Home">Home</a></li>
        </ul>
    </nav>
    <h2>@Model.Album.Title</h2>
    <p>Artist: @Model.Album.Artist</p>
    <p>Release Year: @Model.Album.ReleaseYear</p>

   <h2>Songs</h2>
    @foreach (var song in Model.Album.Songs)
    {
        <p>@song.SongName</p>
        <p>@song.Id</p>
        <a href="/Song/Create/@song.Id">Add a Song</a>

    }
</body>
</html>
